.nh-input {
    padding: 0.8rem;
    border: none;
    font-size: 1.2rem;
    border-radius: 8px;
    width: 100%;
    background: rgba(0, 0, 0, 0.10);
}

.nh-input:focus{
    outline: none;
}

.nh-input.primary:hover {
    background-color: #0d7fb9;
    border: 2px solid #0d7fb9;
    color: white
}

.nh-input.filter {
    font-size: 14px;
    background-color: white;
    width: 150px;
    color: #494949;
}

.nh-input.secondary:hover {
    background: rgba(0, 0, 0, 0.05);
}

.nh-input.primary.disabled {
    background-color: rgba(0, 119, 182, 0.4);
    border: 2px solid rgba(0, 119, 182, 0.4);
    color: white
}

.nh-input.secondary.disabled {
    border: 2px solid rgba(0, 119, 182, 0.4);
    color: black;
}