.profile {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0.5rem;
    width: 100%;
    position: relative;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 1rem;
}

.profile_info {
    background-color: #EBEBEB;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 1;
    border-radius: 1em;
    padding: 2em;
    width: 30em;
    margin: 0.5em;
    position: relative;
}

.profile_info_name {
    font-size: 2rem;
    margin: 0;
    color: #24272A;
}

.profile_info_email {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    color: #494949;
}

.profile_info_tags {
    display: flex;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.profile_info_tags .profile_info_tags_tag {
    padding: 0.3rem 1rem;
    font-size: 1rem;
    background: #e7e7e7;
    color: #6D6E72;
    margin-right: 0.6rem;
    border-radius: 0.3rem;
    cursor: pointer;
;
}

.profile_info_tags .profile_info_tags_tag:hover {
    background-color: #dedede;
}

.profile_info input {
    margin-bottom: 0.2rem;
}

.skills_list {
    background-color: #e7e7e7;
    border-radius: 0.3rem;
    position: absolute;
    z-index: 5;
    box-shadow: -3px -2px 20px -3px rgba(0, 0, 0, 0.15);
    width: 100%;
}

.skill_item {
    padding: 1rem;
    font-size: 1rem;
    background-color: transparent;
    color: #6D6E72;
    cursor: pointer;
}

.skill_item:not(:last-child){
    border-bottom: 1px solid #e3e3e3;
}

.skill_item:hover {
    background-color: #dedede;
}

@media (max-width: 1000px) {
    .item {
        height: 400px;
    }
}

.item svg circle {
    transition: .2s;
}

.item svg {
    width: 1.8em;
    height: 1.8em;
}

.item {
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 1;
    border-radius: 0.8rem;
    padding: 1em;
    width: 30em;
    margin: 0.5em;
    cursor: pointer;
    position: relative;
}

.item .dropzone {
    position: relative;
    border-radius: 0.4rem;
    border: 1px dashed #00A5AA;
    color: #24272A;
    padding: 1rem 2rem;
}

.item .image-preview__wrapper {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
    background-color: rgba(109, 110, 114, 0.4);
    height: 100vh;
    z-index: 10000000000;
    padding: 4rem;
}

.item .image-preview__image {
    box-sizing: border-box;
    z-index: 100000;
    margin: auto;
    padding: 2rem;
    border-radius: 1rem;
    background-color: white;
    width: 70vw;
}

.item .image-loader__wrapper p {
    margin: 0;
}

.item .image-preview__btn_container {
    display: flex;
    padding: 1rem 0;
}

.ReactCrop__image {
    max-height: 30rem;
}

.item .image-preview__btn_container button {
    margin-right: 1rem;
}