.header {
    padding: 3rem 2rem 2rem 2rem;
    background-color: #24272A;
    border-bottom-right-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
}

.header h2 {
    padding-top: 5rem;
    color: white;
}

.user_list__search {
    padding: 0 1rem;
    margin-top: 1.5em;
}

.user_card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dedede;
}

.user_card__name {
    color: #000000;
    font-size: 1.5rem;
    font-weight: 500;
}

.user_card__skills {
    margin-top: 0.75em;
}

.user_card__skill {
    padding: 0.3rem 1rem;
    font-size: 1rem;
    background: #e7e7e7;
    color: #6D6E72;
    margin-right: 0.4rem;
    border-radius: 0.3rem;
}

.user_card__invite_btn {
    cursor: pointer;
    border: none;
    background: #e7e7e7;
    font-size: 1.1em;
    padding: 0.3rem 0.9rem;
    border-radius: 10px;
}