.table_header {
  font-weight: 500;
  color: #494949;
}


.table_data {
  color: #2b2b2b
}

a {
  color: #2b2b2b;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.add-form {
  margin: 10px 0;
}

svg {
  vertical-align: text-top;
}

.add-form > div {
  width: fit-content;
  background: #e1e1e1;
  padding: 10px;
  border-radius: 10px;
}

.add-form div input:not([type="checkbox"]), textarea {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.tag {
  padding: 3px 5px;
  color: white;
  font-size: 12px;
  background-color: #4323A4;
  border-radius: 8px;
}