.header-nav {
    position: absolute;
    width: calc(100% - 2rem);
    z-index: 1000000000;
    margin: 1.5rem 1rem;
    display: flex;
    justify-content: space-between;
}

.header-section {
    border-radius: 1rem;
}

.header-item {
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(21px);
}

.header-item:first-child {
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}

.header-item:last-child {
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}

.header-item:hover {
    background-color: #a1a1a1;
}