.header-nav {
    position: absolute;
    width: calc(100% - 2rem);
    z-index: 1000000000;
    margin: 1.5rem 1rem;
    display: flex;
    justify-content: space-between;
}

.header-section {
    border-radius: 1rem;
}

.header-item {
    font-size: 1.1rem;
    color: white;
    padding: 0.7rem 1.4rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(21px);
    user-select: none;
}

.header-item:first-child {
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}

.header-item:last-child {
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}

.header-item:hover {
    background-color: #a1a1a1;
}

.mobile_header {
    display: none;
}

@media screen and (max-width: 786px) {
    .header-nav {
        display: none;
    }

    .mobile_header {
        position: absolute;
        width: calc(100% - 2rem);
        z-index: 1000;
        margin: 1.5rem 1rem;
        display: flex;
    }

    .mobile_header__section {
        border-radius: 1rem;
    }

    .section_item {
        font-size: 1.1rem;
        color: white;
        padding: 1rem 1.1rem;
        text-align: center;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(21px);
        border-radius: 1rem;
    }

    .section_item:hover {
        background-color: #707070;
    }

    .mobile_header__dots {
        font-size: 1.1rem;
        margin-left: 1rem;
        color: white;
        width: 36px;
        height: 36px;
        user-select: none;
    }

    .mobile_header-active {
        background: white;
        width: 100%;
        z-index: 100;
        display: flex;
        margin: 0;
        height: 19.5rem;
        user-select: none;
    }

    .mobile_header-active .section_item {
        background: #F0F0F0;
    }

    .mobile_header-active .section_item:hover {
        background-color: #888888;
    }

    .mobile_header-active .mobile_header__section {
        margin: 1.5rem 0 0 1rem;
    }

    .mobile_header-active .mobile_header__dots {
        color: black;
        margin-left: 0;
    }

    .mobile_header__buttons {
        position: absolute;
        top: 5rem;
        left: 0;
        width: 100%;
        display: grid;
        padding: 10px 0;

        border-top: .5px solid #DEDEDE;

        grid-template-columns:repeat(2, 1fr);
        grid-template-rows: repeat(3, 50px);
    }

    .mobile_header_button:nth-child(1) {
        width: 95%;;
        grid-column: 1 / 3;
    }

    .mobile_header_button {
        cursor: pointer;
        width: 90%;
        background: #F0F0F0;
        border-radius: 10px;
        border: none;
        padding: 8px 24px;

        font-weight: 500;
        font-size: 17px;
        line-height: 20px;
        color: #24272A;
        margin-bottom: 10px;

        display: grid;
        justify-self: center;
        align-content: center;
    }
    
}