.button_classic, .discuss {
    transition: .2s;
}

.button_classic {
    border: none;
    background-color: white;
    -webkit-appearance: none;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 1rem 1.7rem;
    border-radius: .9rem;
    color: #24272A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.discuss svg {
    margin-left: .6em;
    background: #00A5AAD8;
    border-radius: 50%;
}

.button {
}

.button_classic.primary {
    background: transparent;
    border: 1px solid #6D6E72;
    box-sizing: border-box;
}

.button_classic.secondary {
    background: #DEDEDE;
}

.button_classic svg {
    margin-left: .6em;
    border-radius: 50%;
}

.button_classic:hover svg circle {
    fill: #00A5AA;
}

.button_classic.primary:hover {
    background: #DEDEDE;
}

.button_classic.secondary:hover {
    background: #dcdcdc;
}


.button_classic.primary:active {
    background: #cdcdcd;
}

.button_classic.secondary:active {
    background: #cdcdcd;
}

.button_classic.secondary:hover {
    background-color: #eeeeee
}

.button_classic.primary:hover {
    background-color: rgba(239, 239, 239, 0.1);
}

.button_classic:active {
    background-color: #dcdcdc;
}

@media (max-width: 961px) {
    .button_classic {
        font-size: 1.2rem;
        padding: 1rem 1.6rem;
    }
}