.button {
    padding: 12px 16px;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.button.primary {
    background-color: #0077B6;
    color: white
}

.button.secondary {
    background-color: white;
}

.button.primary:hover {
    background-color: #0d7fb9;
    color: white
}

.button.secondary:hover {
    background-color: rgba(0, 119, 182, 0.15);
}

.button.primary.disabled {
    background-color: rgba(0, 119, 182, 0.4);
    color: white
}

.button.secondary.disabled {
    color: black;
}