.event_card {
    border-radius: 8px;
    margin-top: 14px;
    padding: 14px 0px;
}

.card_title {
    width: 60%;
}

.card_title * {
    margin-bottom: 5px;
}

.card_title .title {
    font-size: 21px;
    font-weight: 500;
    color: #2b2b2b;
    cursor: pointer;
    vertical-align: text-bottom;
}

.card_title .title span {
    margin-left: 5px;
}

.card_title .description {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    color: #3b3b3b;
}

.location {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 300;
    color: #3b3b3b;
}

.date {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 300;
    color: #3b3b3b;
}



